@media screen and (max-width: 600px) {
  .home {
    .bg-black {
      background-color: black;
      height: 75px;
    }
    
    #section1 {
      padding-top: 0px;
      height: 638px;
      background: url(../images/mobile-home-bgSection1.png) no-repeat;
      background-size: cover;
    
      h1 {
        font-weight: bold;
        color: white;
        margin-top: 236px;
        line-height: 34px;
        font-size: 28px;
      }
    
      p {
        color:white;
      }
    }

    #section2 {
      .box {
        height: 107px;
        border-left: 5px solid #ffce00;
        border-bottom: none;
        margin-bottom: 15px;
        .box-aux {

          svg {
            height: 55px;
            margin: auto 20px auto;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }

    #section3 {
      background-image: url(../images/bgSection3mobile.jpg);

      h1 {
        font-size: 24px;
        font-weight: bold;
        line-height: 30px;
        padding-left: 5%;
        padding-right: 5%;
      }

      #carousel1 {
        .carousel-indicators {
          justify-content: center;
          margin-left: 15%;
        }
      }
    }
  
    #section4 {
      .remove-padding {
        padding:0;
      }
  
      .regular {
        border-top: 5px solid $amarelo;
      }
  
      h1 {
        padding-left: 45px;
        padding-right: 45px;
        font-size: 24px;
        line-height: 30px;
      }
    }

    #section5 {
      background-image: none;
      background-color: black;

      .col-aux {
        width: 100%;
      }

      h1 {
        margin-top: 35px;
        font-size: 24px;
      }

      p {
        margin-bottom: 40px;
      }

      .form {
        height: 375px !important;
      }
      
      .remove-h {
        height: auto !important;
      }
    }

    #section6 {
      min-height: 268px;
      height: auto;
    }

  }
}