<section id="saiba-mais-mercado">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="text-center text-md-left">
          Saiba mais sobre o Mercado de Energia
        </h1>
      </div>
      <div class="col-md-3 justify-content-end d-none d-md-flex">
        <a href="http://" class="go-blog d-flex align-items-center"
          >Ir para blog
          <img
            src="assets/images/icon-go-blog.png"
            class="img-fluid align-self-center"
            alt=""
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row no-gutters border-top-custom">
          <div class="col-6 col-md-12">
            <figure class="figure">
              <img
                src="assets/images/imgPostGeneric.jpg"
                class="img-fluid"
                alt=""
              />
            </figure>
          </div>
          <div class="col-6 col-md-12">
            <article class="d-flex flex-column-reverse flex-lg-column">
              <h5>
                Entenda como funciona o mercado de energia brasileiro e seus
                ambientes de contratação
              </h5>
              <a href="http://" class="category">Novidades</a>
            </article>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row no-gutters border-top-custom">
          <div class="col-6 col-md-12">
            <figure class="figure">
              <img
                src="assets/images/imgPostGeneric.jpg"
                class="img-fluid"
                alt=""
              />
            </figure>
          </div>
          <div class="col-6 col-md-12">
            <article class="d-flex flex-column-reverse flex-lg-column">
              <h5>
                Entenda como funciona o mercado de energia brasileiro e seus
                ambientes de contratação
              </h5>
              <a href="http://" class="category">Novidades</a>
            </article>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row no-gutters border-top-custom">
          <div class="col-6 col-md-12">
            <figure class="figure">
              <img
                src="assets/images/imgPostGeneric.jpg"
                class="img-fluid"
                alt=""
              />
            </figure>
          </div>
          <div class="col-6 col-md-12">
            <article class="d-flex flex-column-reverse flex-lg-column">
              <h5>
                Entenda como funciona o mercado de energia brasileiro e seus
                ambientes de contratação
              </h5>
              <a href="http://" class="category">Novidades</a>
            </article>
          </div>
        </div>
      </div>
    </div>
    <a href="http://" class="go-blog2 d-block text-center d-md-none"
          >Ir para blog
          <img
            src="assets/images/icon-go-block-black.png"
            class="img-fluid"
            alt=""
        /></a>
  </div>
</section>
