

#saiba-quanto {
  background: url(../images/bgSection5.jpg) center no-repeat;
  background-size: cover;
  height: 550px;
  color: white;

  h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
  }

  .form {
    background-color: white;
    border-top: 5px solid $amarelo;
    height: 107% !important;
    margin-top: -6px;
  }
}
// fim section5
