
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 border-right">
        <div class="row">
          <div class="col-lg-9">
            <img src="assets/images/logo-footer.png" class="d-block d-md-inline-block mx-auto img-fluid" alt="">
          </div>
          <div class="col-lg-3">
            <div class="social-list d-none d-md-block">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="http://">
                    <img src="assets/images/icon-instagram.jpg" class="img-fluid" alt="">
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="http://">
                    <img src="assets/images/icon-linkedin.jpg" class="img-fluid" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled" id="menu-footer">
              <li class="list-inline-item">
                <a href="" class="d-block d-md-inline text-center text-md-left">
                  Sobre
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" class="d-block d-md-inline text-center text-md-left">
                  O que fazemos
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" class="d-block d-md-inline text-center text-md-left">
                  Blog
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" class="d-block d-md-inline text-center text-md-left">
                  Faq
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" class="d-block d-md-inline text-center text-md-left">
                  Contato
                </a>
              </li>
              <li class="list-inline-item text-center d-md-none social-two">
                  <a href="http://" class="d-inline-block">
                    <img src="assets/images/icon-instagram.jpg" class="img-fluid" alt="">
                  </a>
                  <a href="http://" class="d-inline-block">
                    <img src="assets/images/icon-linkedin.jpg" class="img-fluid" alt="">
                  </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-lg-5 offset-lg-1">
            <h4 class="text-center text-md-left">Contatos</h4>
        <p class="number-tel text-center text-md-left"><a href="tel:+558432049550">+55 (84) 3204 9550</a></p>
        <p class="number-tel text-center text-md-left"><a href="tel:+5584988530137">+55 (84) 9 8853 0137</a></p>
          </div>
          <div class="col-lg-6">
            <h4 class="text-center text-md-left onde-estamos">Onde estamos</h4>
            <p class="city text-center text-md-left">Natal/RN</p>
            <address class="text-center text-md-left">
              Av. Amintas Barros, 3700 - Sala 2405 Torre B 
Bairro Lagoa Nova - Natal - RN, 59075-810
            </address>
            <a href="http://" class="maps d-block text-center text-md-left">Ver no google maps</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row institutional">
      <div class="col-lg-10 text-center text-md-left">
        Copyright 2018 © Ícone Energia - Todos os direitos reservados.
      </div>
      <div class="col-lg-2 d-flex justify-content-center justify-content-md-end">
        <a href="http://mobister.com.br" class="mobister" target="_blank" rel="noopener noreferrer">mobister</a>
      </div>
    </div>
  </div>
 </footer>