
  <!-- Navigation -->
  <div class="position-relative">
    <nav class="navbar navbar-expand-lg navbar-nav-custom static-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/images/logo.png" class="img-fluid" alt="" />
        </a>
        
        <div id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Sobre</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">O que fazemos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Faq</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="assets/images/icon-enter-white.svg" alt=""> Entrar</a>
            </li>
          </ul>
        </div>
    </nav>
  </div>
</div>
