<header class="bg-black d-lg-none">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <a href="index.html"><img src="assets/images/logo.png" class="img-fluid logo-mobile" alt=""></a>
      </div>
      <div class="col-4">
         <!-- open sidebar menu -->
          <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
            <img src="assets/images/menu-hamburguer.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</header>
<!-- ... -->