<section id="section6">
  <div class="container h-100 py-4 py-lg-0">
    <div class="row h-100">
      <div class="col-md-1 d-flex align-items-center">
        <img src="assets/images/icon-newsletter.jpg" class="d-block mx-auto m-3 m-lg-0" alt="">
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <h2 class="text-center text-md-left">
          Saiba tudo sobre o<br/>
Mercado Livre de Energia<br/>
<span>Assine nossa newsletter.</span>
        </h2>
      </div>
      <div class="col-lg-6">

      </div>
    </div>
  </div>
</section>