<section id="section1">
  <div class="container">
   <article>
    <div class="row">
      <div class="col-12 col-md-6">
        <h1 class="text-center text-md-left">
          Reduza os custos
          da sua empresa,
          faça parte do
          Mercado Livre de
          Energia
        </h1>
        <p class="text-center text-md-left">
          85% das empresas já estão no Mercado Livre.<br/> Por que a sua ainda não? 
        </p>

        <a href="#" class="btn btn-primary btn1 d-block d-md-inline">Solicitar simulação</a>
      </div>
    </div>
   </article>
  </div>
</section>