<section id="section5">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-6">
        <div class="form w-100">

        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div>
          <h1>
            Saiba quanto<br/>
  sua empresa<br/>
  pode economizar!
          </h1>
          <p>
            Envie sua última fatura e descubra. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>