
      <section id="section2">
        <div class="container">
          <h1>Nossos serviços</h1>

          <div class="row">
            <div class="col-md-4">
              <div class="box to-top d-flex justify-content-center align-center">
                <svg>
                  <use xlink:href="#bike" />
                </svg>
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </section>
