<section id="section4" class="d-none">
  <div class="container h-100">
    <h1>O que a Ícone faz para conquistar os melhores resultados!</h1>
    <div class="row h-100 no-gutters">
      <div class="col-md-3 box-best d-flex align-items-center">
        Gestão da Medição<br />
        para Faturamento.
      </div>
      <div class="col-md-3 box-best d-flex align-items-center">
        Gestão da conexão e uso dos sistema<br />
        de distribuição/<br />transmissão.
      </div>
      <div class="col-md-3 box-best d-flex align-items-center">
        Gestão da compra e da utilização da energia elétrica no Mercado
        Regulado.
      </div>
      <div class="col-md-3 box-best d-flex align-items-center">
        Gestão da compra e utilização da energia elétrica no Mercado Livre.
      </div>
    </div>
    <div class="row h-100 no-gutters">
      <div class="col-md-3 box-best d-flex align-items-center">
        Gestão da compra<br/>
e da utilização da energia elétrica no Mercado Livre: no<br/> Curto e Longo prazo.
      </div>
      <div class="col-md-3 box-best d-flex align-items-center">
        Representação<br/>
na Câmara de Comercialização de Energia Elétrica – CCEE.
      </div>
      <div class="col-md-3 box-best d-flex align-items-center">
        Análise regulatória<br/>
e eficiência energética.
      </div>
      <div class="col-md-3 box-best d-flex align-items-center">
        Comercialização da energia elétrica.
      </div>
    </div>
  </div>
</section>

<section id="section4" class="d-md-none">
  <div class="container-fluid remove-padding">
    <h1 class="text-center">O que a Ícone faz
      para conquistar os
      melhores resultados!</h1>
    <section class="regular slider">
      <div>
        <article class="box-best d-flex align-items-center">
            Gestão da Medição<br />
            para Faturamento.
        </article>
      </div>
      <div>
        <article class="box-best d-flex align-items-center">
          Gestão da conexão e uso dos sistema<br />
          de distribuição/<br />transmissão.
        </article>
      </div>
      <div>
        <article class="box-best d-flex align-items-center">
          Gestão da compra e da utilização da energia elétrica no Mercado
          Regulado.
        </article>
      </div>
      <div>
        <article class="box-best d-flex align-items-center">
          Gestão da compra e utilização da energia elétrica no Mercado Livre.
        </article>
      </div>
      <div>
        <article class="col-md-3 box-best d-flex align-items-center">
          Análise regulatória<br/>
          e eficiência energética.
        </article>
      </div>
      <div>
        <article class="col-md-3 box-best d-flex align-items-center">
          Comercialização da energia elétrica.
        </article>
      </div>
    </section>
  </div>
</section>
