  <!-- Sidebar -->
<nav class="sidebar d-flex flex-column justify-content-between">
  <div>
        <!-- close sidebar menu -->
        <div class="dismiss">
          <img src="assets/images/arrow-left.svg" alt="">
      </div>
  
      <div class="logo">
          <h3><a href="index.html"></a></h3>
      </div>
  
      <ul class="list-unstyled menu-elements">
          <li class="active">
              <a href="index.html">Início</a>
          </li>
          <li>
              <a href="sobre.html">Sobre</a>
          </li>
          <li>
              <a href="o-que-fazemos.html">O que fazemos</a>
          </li>
          <li>
              <a href="blog.html">Blog</a>
          </li>
          <li>
              <a href="faq.html">FAQ</a>
          </li>
          <li>
              <a href="contato.html">Contato</a>
          </li>
      </ul>
  
  </div>

  <div class="entrar">
    <img src="assets/images/icon-entrar.svg" alt=""> Entrar
  </div>
</nav>
<!-- End sidebar -->

<!-- Dark overlay -->
<div class="overlay"></div>
