  <!-- Sidebar -->
<nav class="sidebar d-flex flex-column justify-content-between">
  <div>
        <!-- close sidebar menu -->
        <div class="dismiss">
          <img src="assets/images/arrow-left.svg" alt="">
      </div>
  
      <div class="logo">
          <h3><a href="index.html"></a></h3>
      </div>
  
      <ul class="list-unstyled menu-elements">
          <li class="active">
              <a class="scroll-link" href="#top-content">Início</a>
          </li>
          <li>
              <a class="scroll-link" href="#section-1">Sobre</a>
          </li>
          <li>
              <a class="scroll-link" href="#section-2">O que fazemos</a>
          </li>
          <li>
              <a class="scroll-link" href="#section-5">Blog</a>
          </li>
          <li>
              <a class="scroll-link" href="#section-6">FAQ</a>
          </li>
          <li>
              <a class="scroll-link" href="#section-6">Contato</a>
          </li>
      </ul>
  
  </div>

  <div class="entrar">
    <img src="assets/images/icon-entrar.svg" alt=""> Entrar
  </div>
</nav>
<!-- End sidebar -->

<!-- Dark overlay -->
<div class="overlay"></div>
