#section4 {
  background: url(../images/team.jpg) center no-repeat;
  height: 462px;
  background-size: cover;

  h1 , p {
    color: white;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 50px;
  }

  p {
    font-size: 18px;
  }
}