#section2 {
  padding-top: 99px;
  padding-bottom: 115px;
  .label-pic {
    background-color: white;
    border-top: 5px solid $amarelo;
    height: 178px;

    p {
      max-width: 350px;
    }
  }

  .col-inner {
    padding-left: 50px;
  }

  .col-aux {
    margin-left: 8.33333%;
  }
}