<section id="informacoes-contato">
  <div class="container">
    <div class="row">
      <div class="col-md-6 informacoes-empresa">
        <h1>Informações de Contato</h1>
        <div class="telefone">
          <p>Telefones</p>
          <p>
            <a href="tel:+558432049550">(84) 3204-9550</a>
          </p>
          <p>
            <a href="tel:+5584988530137">(84) 9 8853-0137</a>
          </p>
        </div>
        <div class="email">
          <p>E-mail</p>
          <p>
            <a href="mailto:iconeenergia@iconeenergia.com.br" target="_blank"
              >iconeenergia@iconeenergia.com.br</a
            >
          </p>
        </div>
        <div class="redes-sociais">
          <p>Redes sociais</p>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="http://">
                <img
                  src="assets/images/icon-instagram.jpg"
                  class="img-fluid"
                  alt=""
                />
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://">
                <img
                  src="assets/images/icon-linkedin.jpg"
                  class="img-fluid"
                  alt=""
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form w-100">
          <form action="action_page.php">
  
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
            <label for="country">Country</label>
            <select id="country" name="country">
              <option value="australia">Australia</option>
              <option value="canada">Canada</option>
              <option value="usa">USA</option>
            </select>
    
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    
            <input type="submit" class="btn btn-primary btn3 d-block d-lg-inline-block" value="Enviar">
    
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
