<section id="onde-estamos">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-5 col-md-7 col-12 d-flex justify-content-center align-items-center">
        <div>
          <h1 class="text-center text-md-left">
            Onde estamos
          </h1>
          <p class="city text-center text-md-left">Natal/RN</p>
          <address class="text-center text-md-left">
            Av. Amintas Barros, 3700 - Sala 2405 Torre B 
Bairro Lagoa Nova - Natal - RN, 59075-810
          </address>
          <a href="http://" class="btn btn-primary btn4 d-block d-md-inline-block"><img src="assets/images/icon-go-maps.png" alt=""/>  <span>Ver no maps</span></a>
        </div>
      </div>
    </div>
  </div>
</section>