<section id="resultados-reais">
  <div class="container-fluid container-md remove-padding-carousel">
    <h1 class="text-center text-md-left">Resultados reais conquistados por nossos clientes</h1>
    <div
      id="carouselResult"
      class="carousel slide"
      data-ride="carousel"
      data-interval="false"
    >
      <ol class="carousel-indicators d-none d-lg-flex">
        <li
          data-target="#carouselResult"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselResult" data-slide-to="1"></li>
        <li data-target="#carouselResult" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <img src="assets/images/favorito.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8 border-carousel-item">
              <div class="wrapper-infor">
                <h5 class="text-center text-lg-left">Favorito Supermercados</h5>
              <p class="d-block mx-auto d-md-inline-block">
                O Favorito Supermercado é uma das maiores redes de varejo do Rio
                Grande do Norte, atendendo a capital e a região metropolitana.
              </p>
              <div class="infor d-md-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center">
                  <h6>28%</h6>
                  <p>em redução de gastos mensais com energia</p>
                </div>
                <div class="d-flex justify-content-center">
                  <h6>51%</h6>
                  <p>em redução de gastos com energia</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <img src="assets/images/favorito.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8 border-carousel-item">
              <div class="wrapper-infor">
                <h5 class="text-center text-lg-left">Favorito Supermercados</h5>
              <p class="text-center text-lg-left">
                O Favorito Supermercado é uma das maiores redes de varejo do Rio
                Grande do Norte, atendendo a capital e a região metropolitana.
              </p>
              <div class="infor d-md-flex align-items-center">
                <div class="d-flex">
                  <h6>28%</h6>
                  <p>em redução de gastos mensais com energia</p>
                </div>
                <div class="d-flex">
                  <h6>51%</h6>
                  <p>em redução de gastos com energia</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <img src="assets/images/favorito.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8 border-carousel-item">
              <div class="wrapper-infor">
                <h5 class="text-center text-lg-left">Favorito Supermercados</h5>
              <p>
                O Favorito Supermercado é uma das maiores redes de varejo do Rio
                Grande do Norte, atendendo a capital e a região metropolitana.
              </p>
              <div class="infor d-md-flex align-items-center">
                <div class="d-flex">
                  <h6>28%</h6>
                  <p>em redução de gastos mensais com energia</p>
                </div>
                <div class="d-flex">
                  <h6>51%</h6>
                  <p>em redução de gastos com energia</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselResult"
        role="button"
        data-slide="prev"
      >
        <img src="assets/images/arrow-right.png" class="img-fluid invert-arrow" alt="">
      </a>
      <a
        class="carousel-control-next"
        href="#carouselResult"
        role="button"
        data-slide="next"
      >
        <img src="assets/images/arrow-right.png" class="img-fluid" alt="">
      </a>
    </div>
  </div>
</section>
