<section id="section3" class="d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="infor">
          <div>
            <h3 class="text-center">Missão</h3>
            <p>Oferecer soluções personalizadas no mercado de energia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="infor">
          <div>
            <h3 class="text-center">Visão</h3>
            <p>
              Ser reconhecida como uma empresa que entrega ao mercado produtos e
              serviços de qualidade, atendendo às necessidades dos seus clientes
              e superando expectativas.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="infor">
          <div>
            <h3 class="text-center">Missão</h3>
            <p>Ética<br/>
              Respeito<br/>
              Parceria<br/>
              Presteza<br/>
              Criatividade<br/>
              Melhoria contínua</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section3" class="d-md-none">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="infor">
            <div>
              <h3 class="text-center">Missão</h3>
              <p>Oferecer soluções personalizadas no mercado de energia.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="infor">
            <div>
              <h3 class="text-center">Missão</h3>
              <p>Oferecer soluções personalizadas no mercado de energia.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="infor">
            <div>
              <h3 class="text-center">Missão</h3>
              <p>Oferecer soluções personalizadas no mercado de energia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
