<section id="section2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h1 class="text-center text-md-left">
          8 anos de empresa com mais de 30 anos de experiência no segmento de energia elétrica
        </h1>
        <p>
          Atuamos na gestão, consultoria e serviços no setor elétrico brasileiro, com ênfase na realização inteligente dos processos de conexão e uso dos sistemas de distribuição e transmissão de energia elétrica.
Oferecemos aos nossos clientes análises aprofundadas de toda a legislação e regulamentação do setor, projeção dos preços praticados no Mercado Livre de Energia, realização de estudos e ações que visam a mitigação de riscos e diminuição de custos com a energia elétrica.
Ainda atuamos como facilitadora frente aos órgãos reguladores e empresas contratadas, ou contratantes, de serviços no mercado.
        </p>
      </div>
      <div class="col-5 offset-1">
        <img src="assets/images/sedeIconeEnergia.jpg" class="img-fluid" alt="">
        <div class="label-pic d-flex justify-content-center align-items-center">
          <p>
            Nossa sede está localizada no bairro de Lagoa Nova, área central da capital Potiguar, a 40 min do aeroporto.  
          </p>
        </div>
      </div>
    </div>
  </div>
</section>