<section id="section5" class="d-none d-md-block">
  <div class="container h-100">
    <h1 class="text-center text-md-left">Números da Ícone</h1>
    <div class="row h-100">
      <div class="col-md-3">
        <div class="box">
          <img
            src="assets/images/icon-Milhoes-Economia.svg"
            class="d-block mx-auto mb-4"
            alt=""
          />
          <h1 class="text-center">28</h1>
          <p class="text-center">
            milhões de economia proporcionada aos nossos clientes
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <img
            src="assets/images/icon-Milhoes-Contrato.svg"
            class="d-block mx-auto mb-4"
            alt=""
          />
          <h1 class="text-center">85</h1>
          <p class="text-center">milhões em contratos gerenciados</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <img
            src="assets/images/icon-estados-brasileiros.svg"
            class="d-block mx-auto mb-4"
            alt=""
          />
          <h1 class="text-center">16</h1>
          <p class="text-center">estados brasileiros atendidos</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <img
            src="assets/images/icon-anos-experiencia.svg"
            class="d-block mx-auto mb-4"
            alt=""
          />
          <h1 class="text-center">30</h1>
          <p class="text-center">
            anos de experiência da diretoria no setor elétrico
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section5">
  <section class="regular1 slider">
    <div>
      <article class="box">
          <img
            src="assets/images/icon-Milhoes-Economia.svg"
            class="d-block mx-auto mb-4"
            alt=""
          />
          <h1 class="text-center">28</h1>
          <p class="text-center">
            milhões de economia proporcionada aos nossos clientes
          </p>
      </article>
    </div>
    <div>
      <article class="box">
        <img
            src="assets/images/icon-Milhoes-Contrato.svg"
            class="d-block mx-auto mb-4"
            alt=""
          />
          <h1 class="text-center">85</h1>
          <p class="text-center">milhões em contratos gerenciados</p>
      </article>
    </div>
    <div>
      <article class="box">
        <img
            src="assets/images/icon-estados-brasileiros.svg"
            class="d-block mx-auto mb-4"
            alt=""
          />
          <h1 class="text-center">16</h1>
          <p class="text-center">estados brasileiros atendidos</p>
      </article>
    </div>
    <div>
      <article class="box">
        <img
            src="assets/images/icon-anos-experiencia.svg"
            class="d-block mx-auto mb-4"
            alt=""
          />
          <h1 class="text-center">30</h1>
          <p class="text-center">
            anos de experiência da diretoria no setor elétrico
          </p>
      </article>
    </div>
  </section>
</section>
