<section id="section2" class="position-relative">
  <div class="container position-relative">
    <div class="wrapper-row position-absolute width-100">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-center text-md-left">
            8 anos de empresa com mais de 30 anos de experiência no segmento de energia elétrica
          </h1>
          <p>
            Atuamos na gestão, consultoria e serviços no setor elétrico brasileiro, com ênfase na realização inteligente dos processos de conexão e uso dos sistemas de distribuição e transmissão de energia elétrica.
          </p>
          <p>
  Oferecemos aos nossos clientes análises aprofundadas de toda a legislação e regulamentação do setor, projeção dos preços praticados no Mercado Livre de Energia, realização de estudos e ações que visam a mitigação de riscos e diminuição de custos com a energia elétrica.

          </p>
          <p>
  Ainda atuamos como facilitadora frente aos órgãos reguladores e empresas contratadas, ou contratantes, de serviços no mercado.

          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid position-absolute layer2">
    <div class="row">
      <div class="col-md-5 offset-md-7 pr-0">
        <img src="assets/images/sedeIconeEnergia.jpg" class="img-fluid" alt="">
        <div class="label-pic d-flex align-items-center">
          <p>
            Nossa sede está localizada no bairro de Lagoa Nova, área central da capital Potiguar, a 40 min do aeroporto.  
          </p>
        </div>
      </div>
    </div>
  </div>
</section>