@media screen and (max-width: 600px) {

.sobre {
  #section1 {
    background: url(../images/bgSection1Sobre-mobile.jpg) no-repeat;
    height: 295px;
    background-size: cover;
    background-position: right;
    h1 {
      font-size: 28px;
    }
  }
}
//fim sobre
}