.btn1 {
  background-color: $amarelo;
  border-color: $amarelo;
  padding: 15px 30px;
  border-radius: 0;
  color: $preto;
  font-weight: 600;
  border-color: $amarelo;
  outline: 0;
  box-shadow: none;

  &:hover,
  &:focus {
    color: black;
    background-color: #FFEB00;
    border-color: #FFEB00;;
    outline: 0;
  }
}

.btn2 {
  background-color: black;
  border-color: black;
  bottom: -27px;
  padding: 11px 30px;
  display: none;
  &:hover, &:focus {
    background-color: #FFEB00;
    border-color: #FFEB00;;
    color: black;
    outline: 0;
  }
}

.btn3 {
  @extend .btn1;
  text-transform: uppercase;

  &:hover, &:focus  {
    background-color: black;
    outline: 0;
  }
}

.btn4 {
  @extend .btn1;
  background-color: black;
  border-color: black;
  color: white;
  text-transform: uppercase;

  span {
    padding-left: 15px;
  }

  &:hover , &:focus {
    background-color: $amarelo;
    border-color: $amarelo;
    color: black;
  }
}

@media screen and (max-width: 768px) {
  .btn4 {
    margin-top: 15px;
  }
}

@media screen and (max-width: 600px) {
  .btn3 {
    width: 100%;
  }
}