.btn1 {
  background-color: $amarelo;
  border-color: $amarelo;
  padding: 15px 30px;
  border-radius: 0;
  color: $preto;
  font-weight: 600;
}

.btn2 {
  background-color: black;
  border-color: black;
  bottom: -27px;
  padding: 11px 30px;
  display: none;
  &:hover {
    background-color: black;
  }
}

.btn3 {
  @extend .btn1;
  text-transform: uppercase;

  &:hover {
    background-color: black;
  }
}

@media screen and (max-width: 600px) {
  .btn3 {
    width: 100%;
  }
}