.navbar-nav-custom {
    position: absolute;
    z-index: 100000;
    width: 100%;
    margin-top: 15px;

    a {
      color: white;
      text-transform: uppercase;
      font-weight: 600;
    }
    
    #navbarResponsive {
      .nav-item {
        &:not(:last-child){
          margin-right: 30px;
        }

        &:last-child {
          border-left: 1px solid rgba(255,255,255,0.2);
          padding-left: 30px;
        }
      }
    }
}