#conheca-servicos {
  background: url(../images/bgConhecaServicos.jpg) no-repeat;
  height: 450px;
  background-size: cover;

  h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
  }
}