#saiba-mais-mercado {
  padding-top: 100px;
  padding-bottom: 100px;

  h1 {
    font-weight: bold;
    font-size: 36px;
  }

  .go-blog {
    color: rgba($color: #000000, $alpha: .6);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    img {
      margin-left: 8px;
    }
  }

  .go-blog2 {
    @extend .go-blog;
    color: black;
    margin-top: 30px;
  }

  .figure {
    margin-top: 40px;
  }

  article {
    margin: 20px 15px;
    h5 {
      font-weight: 400;
      height: 78px;
      overflow: hidden;
      margin-bottom: 23px;
    }
  }

  .category {
    font-size: 14px;
    font-weight: 600;
    color: black;
  }

}