*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none !important;
  box-shadow: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font1;
  font-size: 16px;
  font-weight: 400;
  background-color: #f9f9f9;
  color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

strong {
  font-weight: 500;
}

a {
  color: #f35b3f;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover,
a:focus {
  color: #9b9b9b;
  border: 0;
  text-decoration: none;
}

h1 {
  font-size: 28px;
}

.home,
.sobre {
  #saiba-quanto {
    background: url(../images/bgSection5.jpg) center no-repeat;
    background-size: cover;
    height: 550px;
    color: white;

    h1 {
      font-size: 48px;
      font-weight: bold;
      color: white;
      margin-bottom: 30px;
    }

    .form {
      background-color: white;
      border-top: 5px solid $amarelo;
      height: 107% !important;
      margin-top: -6px;
    }
  }
  #newsletter {
    background-color: white;
    margin-top: 124px;
    height: 268px;

    h2 {
      font: $font2;
      font-size: 28px;
    }
  }
}
//fim das seções que vão em várias páginas
