.sobre {
  #section1 {
    background: url(../images/bgSection1Sobre.jpg) no-repeat;
    height: 450px;
    background-size: cover;

    h1 {
      color: white;
      font-size: 48px;
      font-weight: bold;
    }
  }

  #section2 {
    padding-top: 99px;
    .label-pic {
      background-color: white;
      border-top: 5px solid $amarelo;
      height: 178px;

      p {
        max-width: 350px;
      }
    }

    .col-inner {
      padding-left: 50px;
    }

    .col-aux {
      margin-left: 8.33333%;
    }
  }
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}